.custom-navbar {
    background-color: white!important;
    padding: 1%;
    box-shadow: 1px 1px 10px black;
    height: 10vh;
}

.custom-navbar-container{
    color: white !important;
}

.custom-navbar, .navbar-nav ,.nav-link,  .nav-brand{
    letter-spacing: 1px; 
    font-size: 13px;/* Change text color to white */
}

.nav-brand{
    font-size: 26px;
}

@media screen and (max-width: 600px){
    .nav-brand{
        font-size:16px;
    }
    
}
