.ReportCardAll{
    border: none;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    margin: 1% 0% 3% 3%;
    padding-bottom: 4%;
}
.ReportCardAllImage > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.ReportCardAllInfo{
    padding: 0% 3% 3% 3%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

 a{
    text-decoration:none;
    color: black;
}

.underLine{
    width: 60px;
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-bottom: 3%;
}